build.log
*.o
.DS_Store
.*.swp
/env
/dl
/bin
/build_dir
/staging_dir
/build
/stage
/ahoy
/tmp
/logs
/feeds
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
._*
.config.old
.apdisk
